# Python
__pycache__/
*.pyc
*.pyo
*.pyd

# Virtual environments
mesmerla-env/
.venv/
venv/

# Jupyter
.ipynb_checkpoints/

# VSCode
.vscode/

# faster-whisper
faster-whisper-small/

# TTS
AI-ssistant/models/xtts/

# OS
.DS_Store
Thumbs.db

# Models / caches
*.pt
*.bin
*.safetensors
*.onnx
*.wav
*.mp3
*.gguf
*.pth

# HuggingFace cache
.cache/

# voice splits
AI-ssistant/models/voices/Marcus_voices_split/