# Python
__pycache__/
*.pyc
*.pyo
*.pyd

# Virtual environments
mesmerla-env/
.venv/
venv/

# Jupyter
.ipynb_checkpoints/

# VSCode
.vscode/

# faster-whisper
faster-whisper-small/

# OS
.DS_Store
Thumbs.db

# Models / caches
*.pt
*.bin
*.safetensors
*.onnx
*.wav
*.mp3
*.gguf

# HuggingFace cache
.cache/